@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: SN Pro;
}

.close {
    display: none;
}

body {
    background: black;
    color: #fff;
}

.border {
    border: 2px solid red;
    margin: 3px;
}


.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}


.home ul li {
    width: 18px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.logo {
    gap: 10px;
    font-size: 22px;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px
}

.p-1 {
    padding: 10px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 12px;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.right {
    padding: 16px 0px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34)
}

.header>* {
    padding: 10px;
}

.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist h1 {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 70vh;

}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.9s;

}

.card:hover {
    background-color: rgb(70, 69, 69);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;

}



.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(180, 177, 177);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.loginbtn:hover {

    border: none;
    font-weight: bold;
    font-weight: 17px;
}

.playbar {
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;

}

.songbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.songList ul {
    padding: 0 12px;

}

.songList ul li {
    list-style-type: decimal;
    justify-content: space-between;
    display: flex;
    gap: 12px 14px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList {
    height: 600px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
}


.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;

}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 2px;
    background: black;
    position: absolute;
    bottom: 0;
    width: 98%;
    border-radius: 10px;
    margin-bottom: 11px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;

}

.songbuttons img {
    cursor: pointer;
}


.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}

@media (max-width: 1200px) {
    .left {
        background: rgb(0 0 0);
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        padding: 0px;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        width: 29px;
        position: absolute;
        right: 34px;
        top: 29px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 55px);
    }

    .seekbar {
        width: calc(100vw - 55px);
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 44vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

}

@media (max-width: 300px) {
    .card {
        width: 84vw;
    }
}

@media (max-width: 823px) {
    .play {
        width: 28px;
        height: 28px;
        background-color: #1fdf64;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 27px;
        top: 283px;
        opacity: var(--a);
        transition: all 1s ease-out;

    }
}

@media (max-width: 450px) {
    .play {
        width: 28px;
        height: 28px;
        background-color: #1fdf64;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        position: absolute;
        top: 155px;
        opacity: var(--a);
        transition: all 1s ease-out;

    }
}

@media (max-width: 400px) {
    .play {
        width: 28px;
        height: 28px;
        background-color: #1fdf64;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        position: absolute;
        top: 135px;
        opacity: var(--a);
        transition: all 1s ease-out;

    }
}

@media (max-width: 580px) {
    .play {
        width: 28px;
        height: 28px;
        background-color: #1fdf64;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        position: absolute;
        top: 195px;
        opacity: var(--a);
        transition: all 1s ease-out;

    }
}

@media (max-width: 350px) {
    .play {
        width: 28px;
        height: 28px;
        background-color: #1fdf64;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        position: absolute;
        top: 115px;
        opacity: var(--a);
        transition: all 1s ease-out;

    }
}

@media (width: 920) {
    .play {
        position: absolute;
        top: 1134px;
    }
}