.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.items-center {
    align-items: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
            #3a3a3a,
            #1f1f1f);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg,
            #4a4a4a,
            #2a2a2a);
}